<!-- app/views/sessions/new.html.erb -->
<h2 class="page-title">Sign In</h2>

<section class="left-column">
  &nbsp;
</section>

<section class="main-column no-border">
  <section class="new-session-form">
    <%= render 'new', user: @user %>
  </section>
</section>
