<h3 class="section-title">Get the weather!</h3>

<form action="<%= search_zip_codes_url %>" method="get" class="input">

  <%= insert_form_authenticity_token %>

  <input type="text" name="search_query" value="" id="search_query" placeholder="Zip Code or City">

  <input class="submit" type="submit" value="Search">
</form>