<!-- app/views/zip_codes/search.html.erb -->

  <h2 class="page-title">Search Results for &ldquo;<%= @search_query %>&rdquo;</h2>

<section class="left-column">
  &nbsp;
</section>

<section class="main-column">
  <section class="search-results">
    <h2 class="section-title"></h2>

    <% if @search_results.empty? %>
      <p>
        We don't have a zip_code with that name in our database. Please check back as we expand to more cities.
      </p>
    <% else %>
      <ul>
        <% @search_results.each do |result| %>
          <% result_string = "#{result.city}, #{result.state_code} (#{result.zip_code})" %>
        <li><%= link_to result_string, zip_code_url(result)%></li>
        <% end %>
      </ul>
    <% end %>
  </section>
</section>