<!-- /app/views/layouts/nav_bar_dropdowns/notifications.html.erb -->

<h3 class="section-title">
  Notifications
</h3>

<ul>

  <% unless signed_in? %>
    <li>
      <%= link_to "Please sign in to see your notifications.", new_session_url %>
    </li>
  <% else %>
    <li>
      Notifications will go here.
    </li>
  <% end %>
</ul>