<!-- app/view/users/edit.html.erb -->

<h2 class="page-title">Settings</h2>


<section class="left-column">
  &nbsp;
</section>

<section class="main-column">
  <section class="user-edit-form">
    <%= render 'details', mode: :edit %>

    <div class="input">
      <%= button_to "Delete Account",
        user_url(@user),
        method: :delete,
        class: "submit delete" %>
    </div>

  </section>
</section>



