<!-- app/views/users/new.html.erb -->

<h2 class="page-title">Sign Up</h2>

<section class="left-column">
  or <%= link_to "sign in with Twitter", "/auth/twitter" %>
</section>

<section class="main-column">
  <section class="new-user-form">
    <%= render 'details', mode: :new, user: @user %>
  </section>
</section>
