#carrousel {
  display:block;
  position: relative;
  height: 300px;
  width: 400px;
/*  height:auto;*/
/*  width:auto;*/
/*  margin: 100px auto 20px auto;*/
  overflow: hidden;
/*  border: 2px solid #000;*/
  background: #000;
}

#carrousel > ul {
  left: 0px;
  top: 0;
  position: absolute;
  list-style: none;
}

#carrousel > ul:after {
  content: "";
  display: block;
  clear: both;
}

#carrousel > ul > li {
  float: left;
  width: 400px;
  height: 300px;
  background: transparent;
/*  height:auto;*/
/*  width:auto;*/
  font-size: 30px;
  text-align: center;
}

#carrousel > ul > li:nth-child(even) {
/*  background: green;*/
}

img.carrousel-photo {
  max-width: 400px;
  height: 304px;
/*  vertical-align:middle;*/
}