/*----------- favorite star -----------------*/

a.favorite {
  display:inline;
  font-size:75%;
  text-decoration:none;
}

a.favorite.false {
  color:#ddd;
}

a.favorite.true {
  color:#ffb92f;
}

a.favorite:hover {
  text-shadow: 0px 0px 1px #999;
}


/*---------- Weather conditions percentages numbers & chart -------------*/
.percentages {
  display:block;
  position:relative;
  width:300px;
  height:200px;
}


.hidden {
  display:none;
}