/*----------- favorite star -----------------*/

a.favorite {
  display:inline;
/*  display:block;
  float:right;
  max-width:15px;
  margin-right:0px;*/
  font-size:75%;
  text-decoration:none;
}

a.favorite.false {
  color:#ddd;
}

a.favorite.true {
  color:#ffb92f;
}

a.favorite:hover {
  text-shadow: 0px 0px 1px #333;
}

/*------- Weather map button ----------------------------------*/

a#weather-map-button {
  display:block;
  position:relative;

  width:250px;
  padding:20px;
  margin:25px auto 24px auto;

  background:#ccc;
  border:2px solid #000;
  border-radius:5px;

  text-align:center;
  font-size:150%;
}

.weather-arrow {
  display:inline-block;
  position:relative;
  top:10px;
  -webkit-transform: rotate(90deg);
  font-size:155%;
}

a#weather-map-button:hover {
  text-decoration:none;
  background: #90ee90;
}

a#weather-map-button:active {
  text-decoration:none;
  border-color:#0b0;
}

/*------- Weather conditions percentages numbers & chart -----*/
.percentages {
  display:block;
  position:relative;
  margin-top:20px;
}

canvas#conditions-chart{
  width:330px;
  height:200px;
}

.hidden {
  display:none;
}

/*---------- latest reports table ---------------*/

.recent-reports th {
  font-weight: bold;
  text-align: left;
/*  background: #eee;*/
  padding: 3px 12px;
/*  border: 5px solid #ccc;*/
}

.recent-reports td {
  padding: 3px 10px;
/*  border-bottom: 1px solid #ccc;*/
}

.recent-reports td.temperature-value {
  text-align:right;
}


/*----------------- MAP -----------------------*/

#map {
  margin-top:25px;
  height:400px;
}