<ul>
  <% photos.each do |photo| %>
  <li>
    <%= image_tag photo.image.url(:small) %>
    <figcaption>
      <p>
        <%= image_tag photo.submitter.avatar.url(:thumbnail) %>

        <%= photo.submitter.user_name %>
        <br>
        <%= time_ago_in_words(photo.created_at) %>
      </p>
    </figcaption>
  </li>
  <% end %>
</ul>