<!-- /app/views/photos/edit.html.erb -->

<h2 class="page-title">Edit Photo</h2>

<section class="left-column">
  &nbsp;
</section>

<section class="main-column">
  <section class="edit-photo-form">
    <%= render "details", mode: :edit, zip_codes: @zip_codes, photo: @photo %>
  </section>
</section>



