<!-- /app/views/photos/new.html.erb -->

<h2 class="page-title">Add A Photo</h2>

<section class="left-column">

</section>

<section class="main-column">
  <section class="new-photo-form">
    <%= render "details", mode: :new, cities: @cities, photo: @photo %>
  </section>
</section>
