<!-- /app/views/photos/new.html.erb -->

<h2 class="page-title">Add A Photo</h2>

<section class="left-column">
  &nbsp;
</section>

<section class="main-column">
  <section class="new-photo-form">
    <%= render "details", mode: :new, zip_codes: @zip_codes, photo: @photo %>
  </section>
</section>
