<!-- /app/views/photos/show.html.erb -->

<h2 class="page-title"><%= link_to @photo.submitter.user_name, user_gallery_url(@photo.submitter) %>&rsquo;s Photo</h2>

<section class="left-column">
  &nbsp;
</section>

<section class="main-column">
  <section class="photo-feed">
    <%= render "photos/full_feed", photos: [@photo] %>

      <%= link_to "Edit Photo", edit_photo_url(@photo) if @photo.submitter == current_user%>
      <br>
      <%= button_to "Delete Photo", photo_url(@photo), method: :delete if @photo.submitter == current_user%>
  </section>
</section>
