<!-- /app/views/galleries/show.html.erb -->
<section class="photo-gallery">
  <h1>Weather Photos for: <%= @name %></h1>

  <%= render "photos/full_feed", photos: @photos %>

</section>

<section class="user-profile-box">
  <%= (render "user_details", user: @subject) if @subject.is_a?(User) %>
  <%= (render "zip_code_details", zip_code: @subject) if @subject.is_a?(City) %>
</section>
