<h2 class="section-title">Get the weather!</h2>
<ul>
  <% zip_codes.each do |city| %>
    <li><%= link_to zip_code.city, city_url(city) %></li>
  <% end %>
</ul>

- or -

<form action="<%= search_zip_codes_url %>" method="get" class="input">

  <%= insert_form_authenticity_token %>

  <input type="text" name="search_query" value="" id="search_query" placeholder="Search by City">

  <input class="submit" type="submit" value="Search">
</form>