<!-- app/view/cities/_current_weather_summary.html.erb -->

<section class="current-weather-summary group">

  <figure class="icon">
    <%= image_tag top_weather_condition_icon(city).url(:thumbnail) %>
  </figure>

  <section class="stats">
    <%= link_to city.name, city_url(city) %>
    <br>
    <%= city.current_temperature %> <%= city.top_three_conditions.first.first %>
  </section>

</section>