/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* make this a scss file & user @import to import the other styles in order */



/* - - - - RESETS - - - - */
html, body, p, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  border:none;
  font:inherit;
  vertical-align:baseline;
}

li {
  list-style:none;
}

a {
  text-decoration:none;
  color:inherit;
  font:inherit;
}

figure {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
}

input[type="text"],
input[type="number"],
//input[type="radio"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="file"],
select, option
textarea {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  width: auto;
}

button {

  /*
  This is a full reset for a button,
  making it as plain as inline text.
  From here you could move on to style
  it as a regular link, or anything
  your beautiful mind can dream up.
  */

  -webkit-appearance: none;
  display: inline;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

/* - - - - IMPORT PAGE STYLES - - - - */
@import 'basic_layout';
@import 'cities/index';
@import 'cities/show';
@import 'users/dashboard';
@import 'current_weather_summary';
