/* /app/assets/stylesheets/basic_layout.css */

/*--------- TOP-MOST CONTAINERS ---------*/
body {
  font-family:'Fira Sans', Helvetica, sans-serif;
  padding-top:1px;
  background:linen;
  line-height:135%;
}

a:hover {
  text-decoration:underline;
}

pre {
  font-family:'Fira Mono', Courier, monospace;
}

img.avatar {
  height:15px;
  width:15px;
}

img.teaser-photo {
  height:150px;
  width:150px;
}

img.content-photo {

}

.degree-units {
  display:inline-block;
  font-size:50%;
  vertical-align:middle;
}

/*--------- CLEARFIX ---------*/
.group:after {
  clear:both;
  display:block;
  content:"";
}

/*--------- HEADER ---------*/

header {
  display:block;
  position:relative;
  background:#333;
  color:#ffffff;
}

.header-content {
  display:block;
  position:relative;
  width:950px;
  margin-left:auto;
  margin-right:auto;
  padding-top:25px;
}

/*header a {

}

header img.logo {
  float:left;
  width:300px;
}*/

header h1.site-logo {
  display:block;
  float:left;
  font-size:24pt;
  font-weight:bold;
  padding:0;
  letter-spacing:1px;
}

header nav {
  display:block;
  float:right;
}


header nav ul {
/*  display:block;*/
/*  position:relative;*/
  padding-right:10px;
/*  padding-bottom:10px;*/
}

nav > ul > li {
  display:block;
  float:left;
  position:relative;
  padding-bottom:10px;
}

header nav form{
  display:block;
/*  float:left;*/
  margin-top:0px;
  margin-bottom:0px;
  padding:0;
}

header nav input[type="search"] {
  display:block;
  float:left;
  margin:0;
  margin-right:10px;
  width:auto;
  height:auto;
  padding:5px 10px;
/*  border:1px solid #ffffff;*/
  border-radius:5px;
  background:#ffffff;
  color:#333;
}

header nav input[type="search"] {
  display:block;
  float:left;
  margin:0;
  margin-left:10px;
  width:auto;
  height:auto;
  padding:5px 10px;
}

nav form:focus {
  background:red;
}

nav input[type="search"]:focus + .nav-bar-dropdown.favorites {
  display:block;
}

.nav-bar-dropdown.favorites:hover {
 display:block;
}

header nav li.icon {
  position:relative;
  margin-left:10px;
  margin-right:10px;
  margin-top:5px;
  margin-bottom:5px;
  width:25px;
  height:25px;
  padding-top:0px;
/*  padding-bottom:30px;*/
}

header nav .icon:active {
  margin-top:7px;
  margin-bottom:3px;
}

header nav .icon > a {
  color:transparent;
}

header nav i {
  display:block;
  height:25px;
  width:25px;
}

header nav i#new-post {
  content: url("https://s3.amazonaws.com/weather-app-production/icons/new-post.png") no-repeat 0 0;
}

header nav i#notifications {
  content: url("https://s3.amazonaws.com/weather-app-production/icons/notifications.png") no-repeat 0 0;
}

header nav i#user-menu {
  content: url("https://s3.amazonaws.com/weather-app-production/icons/user-menu.png") no-repeat 0 0;
}

header nav i#settings-menu {
  content: url("https://s3.amazonaws.com/weather-app-production/icons/settings.png") no-repeat 0 0;
}

header nav .icon:hover {
  cursor:pointer;
}

header .nav-bar-dropdown {
  display:none;
  position:absolute;
  z-index: 10;
  width:180px;
  padding:9px;
  background:#F6F6F6;
  color:black;
  border: 1px solid #ccc;
  border-radius:5px;
  top:45px;
  right:-35px;
}


.nav-bar-dropdown.favorites {
  display:none;
  top:35px;
  left:11px;
  width:254px;
}

.nav-bar-dropdown.favorites li{
  display:block;
  position:relative;
  width:234px;
  height:auto;
}

header .nav-bar-dropdown li {
  display:block;
  width:180px;
  height:50px;
}

nav .icon:hover .nav-bar-dropdown {
  display:block;
}


header .nav-bar-dropdown h3 {
  font-size:14pt;
}

header .nav-bar-dropdown input[type="text"] {
  width:150px;
}

.nav-bar-dropdown .triangle-up:before {
  content:"";
  display:block;
  position:absolute;
  height:0px;
  width:0px;
  border-top:18px solid transparent;
  border-left:18px solid transparent;
  border-right:18px solid transparent;
  border-bottom: 18px solid #ccc;
  z-index: 4;
  top:-40px;
  right:27px;
}


/*--------- CONTENT ---------*/
.content {
  display:block;
  position:relative;
  width:910px;
  min-height:600px;
/*  padding-top: 0px;*/
  margin-left:auto;
  margin-right:auto;
/*  border: 1px solid #999;*/
  line-height:140%;
  background:#FFFFFF;
  padding:20px;
}

.left-column {
  display:block;
  float:left;
  width:200px;
  padding-right:20px;
}

.main-column {
  display:block;
  float:left;
  width:650px;
  padding-left:20px;
  border-left:1px solid #ccc;
}

.zip-code-weather-left-column{
  display:block;
  float:left;
  width:435px;
  padding-right:20px;
}

.zip-code-weather-right-column{
  display:block;
  float:left;
  width:435px;
  padding-left:20px;
}

.zip-code-weather-full-column {
  display:block;
  float:left;
  width:910px;
  padding-top:20px;

}

h2.page-title{
  font-size:26pt;
  font-weight:bold;
  margin-top:25px;
  margin-bottom:15px;
}

span.page-subtitle {
  font-size:16pt;
  font-weight:normal;
/*  margin-top:20px;
  margin-bottom:5px;
*/}

h3.section-title {
  font-size:20pt;
  font-weight:bold;
  margin-top:20px;
  margin-bottom:5px;
}

/*------------- FOOTER -------------------------------*/
footer {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  width:911px;
  margin-bottom:50px;
  background:transparent;
}

/*------------- MODAL STYLES -------------------------*/

.has-active-modal .modal {
  display:block;
}

.modal {
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.modal:before {
  content:"";
  display:block;
  position:fixed;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
}

/*------------- FORM STYLES --------------*/

.input {
  margin:0;
/*  margin: 20px 0;*/
}

.input label {
  display: inline-block;
  font-weight: bold;
  padding: 20px 0 5px 0;
}

.input input, textarea, select {
  display:block;
  border: 2px solid #000;
  padding: 5px 10px;
  max-width: 200px;
/*  width:auto;*/
  border-radius: 5px;
  background:#ffffff;
}

.input textarea {
  line-height:inherit;
  font:inherit;
  width:auto;
  height:6em;
  resize:none;
}

.radio-group, .checkbox-group {
  display:block;
  position:relative;
}

.radio-group > input, .checkbox-group > input {
  display:inline-block;
}

.radio-group > label, .checkbox-group > label {
  display:inline-block;
  padding:0;
  padding-right:10px;
  font-weight:normal;
}

.input > input:focus {
  border-color: #0b0;
}

input.submit, button.submit {
  background: #ccc;
  color:black;
}

.content .submit, .content .submit, .modal .submit {
  margin-top:10px;
}

input.submit:hover, button.submit:hover {
  background: lightgreen;
  cursor:pointer;
}

input.submit.delete:hover, button.submit.delete:hover {
  background: red;
}

.submit > input {
  position: relative;
  background: #a7ba5c;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px #070;
}

.submit > input:hover {
  background: #0b0;
}

.submit > input:active {
  top: 3px;
  box-shadow: none;
}