/* /app/assets/stylesheets/basic_layout.css */

/*--------- TOP-MOST CONTAINERS ---------*/
body {
  font-family:Helvetica, sans-serif;
  padding-top:1px;
  background:linen;
}


img.avatar {
  height:15px;
  width:15px;
}

img.teaser-photo {
  height:150px;
  width:150px;
}

img.content-photo {

}

/*--------- CLEARFIX ---------*/
.group:after {
  clear:both;
  display:block;
  content:"";
}

/*--------- HEADER ---------*/

header {
  display:block;
  position:relative;
  background:#333;
  color:#ffffff;
}

.header-content {
  width:950px;
  margin-left:auto;
  margin-right:auto;
  padding-top:25px;
}

/*header a {

}

header img.logo {
  float:left;
  width:300px;
}*/

header h1.site-logo {
  display:block;
  float:left;
  font-size:24pt;
  font-weight:bold;
  padding:0;
}

header nav {
  display:block;
  float:right;
  height: 70px;
}


header nav input[type="search"] {
  display:block;
  float:left;
  margin:10px;
  width:auto;
  height:auto;
  padding:5px 10px;
/*  border:1px solid #ffffff;*/
  border-radius:5px;
  background:#ffffff;
  color:#333;
}

header nav ul {
  display:block;
  float:left;
  padding-right:10px;
}

header nav li.icon {
  display:block;
  float:left;
  margin:10px;
  width:25px;
  height:0px;
  padding-top:25px;
  overflow:hidden;
}

header nav li.new-post {
  background: url("https://s3.amazonaws.com/weather-app-production/icons/new-post.png") no-repeat 0 0;
  background-size:contain;
}

header nav li.notifications {
  background: url("https://s3.amazonaws.com/weather-app-production/icons/notifications.png") no-repeat 0 0;
  background-size:contain;
}

header nav li.user-menu {
  background: url("https://s3.amazonaws.com/weather-app-production/icons/user-menu.png") no-repeat 0 0;
  background-size:contain;
}

header nav li.settings-menu {
  background: url("https://s3.amazonaws.com/weather-app-production/icons/settings.png") no-repeat 0 0;
  background-size:contain;
}

header nav li.icon:hover {
  cursor:pointer;
  border-bottom:1px solid ghostwhite;
/*  background:blue;*/
}
/*--------- CONTENT ---------*/
.content {
  display:block;
  position:relative;
  width:910px;
/*  padding-top: 0px;*/
  margin-left:auto;
  margin-right:auto;
/*  border: 1px solid #999;*/
  line-height:140%;
  background:#FFFFFF;
  padding:20px;
}

.left-column {
  display:block;
  float:left;
  width:200px;
  padding-right:20px;
}

.main-column {
  display:block;
  float:left;
  width:650px;
  padding-left:20px;
  border-left:1px solid #ccc;
}

.city-weather-left-column{
  display:block;
  float:left;
  width:435px;
  padding-right:20px;
}

.city-weather-right-column{
  display:block;
  float:left;
  width:435px;
  padding-left:20px;
}

h2.page-title{
  font-size:24pt;
  font-weight:bold;
}

h3.section-title {
  font-size:20pt;
  font-weight:bold;
}

/*------------------------------------*/

.photo-feed
  li {
    display:block;
    width:350px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
    margin-bottom:10px;
  }

  img.content-photo {
    width:350px;
    margin-bottom:25px;
  }

  figcaption {
    font-size:10pt;
  }

  img.avatar {
    width:25px;
    height:25px;
  }

  ul.tag-list {
    display:block;
    position:relative;
    height:40px;
  }

  ul.tag-list  li {
      display:inline-block;
      float:left;
      padding:2px;
      margin-left:2px;
      margin-bottom:10px;
      border: 1px solid #999;
      width:50px;
    }


/*--------- RIGHT COLUMN ---------*/

.right-column {
  display:block;
  float:left;
  width:200px;
}


/*------------- JONATHAN'S FORM STYLES --------------*/

.input {
  margin: 20px 0;
}

.input > label {
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.input > input, textarea {
  border: 2px solid #000;
  padding: 5px 10px;
/*  width: 250px;*/
  border-radius: 5px;
  background:#ffffff;
}

.input > input[type="radio"] {
  display:block;
}

.input > input:focus {
  border-color: #0b0;
}

input.submit, button.submit {
/*  background: #a7ba5c;*/
  color:black;
}

.submit > input {
  position: relative;
  background: #a7ba5c;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px #070;
}

.submit > input:hover {
  background: #0b0;
}

.submit > input:active {
  top: 3px;
  box-shadow: none;
}