<!-- /app/views/photos/new.html.erb -->

<h2 class="page-title">New Weather Report</h2>

<section class="main-column">
  <section class="new-weather-report-form">
    <%= render "new", zip_codes: @zip_codes, weather_conditions: @weather_conditions %>
  </section>
</section>
