<!-- /app/views/photos/new.html.erb -->

<h2 class="page-title">New Post</h2>

<section class="left-column">
  &nbsp;
</section>

<section class="main-column">
  <section class="new-weather-report-form">
    <%= render "new_with_photo",
      weather_conditions: @weather_conditions,
      tags: @tags %>
  </section>
</section>
